@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif !important;
}

.nav-link:hover{
    color: #2e8a93 !important;
}

.nav-link{
    font-weight: 400 !important;
    color: #61a0a6dd !important;
    text-decoration: none !important;
}